<% if @classifieds.blank? %>
  <p>There are not any ads currently in the system.</p>
<% else %>
  <p>These are the current classified ads in our system</p>

 <ul id="categories">
 <% Category.find(:all).each do |c| %>
  <li><%= link_to c.name, {:action => 'show_category', :id => c.id} -%></li>
 <% end %>
 </ul>

 <ul id="classifieds">
 <% @classifieds.each do |c| %>
  <li>
  <%= link_to c.title, {:action => 'show', :id => c.id} -%>
  <small><%= link_to 'Edit', {:action => 'edit', :id => c.id} -%></small>
  <small><%= link_to 'Delete', {:action => 'delete', :id => c.id},
    :confirm => "Are you sure you want to delete this item?"%>
  </small>
  </li>
 <% end %>
 </ul>
<% end %>
  <p><%= link_to "Add new ad", {:action => 'new' }%></p>
  