<h1>Post new classified</h1>

<%= error_messages_for 'classified' -%>

<%= start_form_tag :action => 'create' %>

  <p><label for="classified_title">Title</label><br/>
  <%= text_field 'classified', 'title'  %></p>
  
  <p><label for="classified_price">Price</label><br/>
  <%= text_field 'classified', 'price'  %></p>
  
  <p><label for="classified_location">Location</label><br/>
  <%= text_field 'classified', 'location'  %></p>
  
  <p><label for="classified_description">Description</label><br/>
  <%= text_area 'classified', 'description'  %></p>

  <p><label for="classified_category">Category</label><br/>
  <%= collection_select(:classified, :category_id, @categories, :id, :name) %></p>
  
  <p><label for="classified_email">Email</label><br/>
  <%= text_field 'classified', 'email'  %></p>
  
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', {:action => 'list'} %>
