<% if @projects.blank? %>
  <p>There are no projects currently.</p>
<% else %>

<p>
 <table id="projects" cellpadding=1 cellspacing=3>
 <tr><td align="left"><b>Name</b></td><td>&nbsp;</td>

 <% if current_user.login == "admin" %>
   <td align="left"><b>Type</b></td><td>&nbsp;</td>
 <% end %>
 <td align="left"><b>Status</b></td><td>&nbsp;</td>
 <% if !defined? @user %>
   <td align="left"><b>Investigator</b></td><td>&nbsp;</td>
   <td align="left"><b>Submitter</b></td><td>&nbsp;</td>
 <% end %>
 <td align="left"><b>Updated PST</b></td></tr>

 <% @projects.each do |c| %>
  <tr>
  <td><%= link_to c.name, {:action => 'show', :id => c.id} -%></td><td>&nbsp;</td>

  <% if current_user.login == "admin" %>
  <td><%= c.project_type.short_label -%></td><td>&nbsp;</td><td>&nbsp;</td>
  <% end %>

  <td> 
  <%= 
  if c.status == "validate failed"
    link_to c.status, {:action => 'valid_status', :id => c.id}
  else
    if c.status == "load failed"
      link_to c.status, {:action => 'load_status', :id => c.id}
    else
      if c.status == "unload failed"
        link_to c.status, {:action => 'unload_status', :id => c.id}
      else
        if c.status == "upload failed"
       	  link_to c.status, {:action => 'upload_status', :id => c.id}
        else
	  if c.status.starts_with?("schedule uploading ")
	    "schedule uploading"
	  else
	    if c.status.starts_with?("schedule expanding ")
	      "schedule expanding"
            else
    	      c.status 
            end
          end
        end
      end
    end
  end
  -%>
  </td><td>&nbsp;</td>

  <% if !defined? @user %>
    <td><%= c.user.pi -%></td><td>&nbsp;</td>
    <td><%= c.user.login -%></td><td>&nbsp;</td>    
  <% end %>
  <td><%= c.updated_at.strftime("%b %d %H:%M") -%></td>
  </tr>
 <% end %>
 </table>
<% end %>
<br/>
  
<%

