<% if @projects.blank? %>
  <p>There are no projects currently.</p>
<% else %>

<p>
 <table id="projects" cellpadding=1 cellspacing=3>
 <tr> 
 <td align="left"><b><%= sort_link('id', 'ID', {:submitter => params[:submitter]}) -%></b></td><td>&nbsp;</td>
 <td align="left"><b><%= sort_link('db', 'DB', {:submitter => params[:submitter]}) -%></b></td><td>&nbsp;</td>
 <td align="left"><b><%= sort_link('name', 'Name', {:submitter => params[:submitter]}) -%></b></td><td>&nbsp;</td>
 <td align="left"><b><%= sort_link('Status', nil, {:submitter => params[:submitter]}) -%></b></td><td>&nbsp;</td>
 <% if !defined? @user %>
   <td align="left"><b><%= sort_link('pi', 'Investigator', {:submitter => params[:submitter]}) -%></b></td><td>&nbsp;</td>
   <td align="left"><b><%= sort_link('login', 'Submitter', {:submitter => params[:submitter]}) -%></b></td><td>&nbsp;</td> 
<% end %>
 <td align="left"><b><%= sort_link('updated_at', 'Updated PST', {:submitter => params[:submitter]}) -%></b></td></tr>

 <% @projects.each do |c| %>
  <tr>
  <td align="right"><%= link_to c.id, {:action => 'show', :id => c.id} -%></td><td>&nbsp;</td>
  <td><%= c.db -%></td><td>&nbsp;</td>
  <td><%= link_to c.name, {:action => 'show', :id => c.id} -%></td><td>&nbsp;</td>
  <td> 
  <%= 
  if c.status == "validate failed"
    link_to c.status, {:action => 'valid_status', :id => c.id}
  elsif c.status == "load failed"
    link_to c.status, {:action => 'load_status', :id => c.id}
  elsif c.status == "unload failed"
    link_to c.status, {:action => 'unload_status', :id => c.id}
  elsif c.status == "upload failed"
    link_to c.status, {:action => 'upload_status', :id => c.id}
  elsif c.status == "expand failed"
    link_to c.status, {:action => 'expand_status', :id => c.id}
  elsif c.status.starts_with?("schedule uploading ")
    "schedule uploading"
  elsif c.status.starts_with?("schedule expanding ")
    "schedule expanding"
  else
    c.status 
  end
  -%>
  </td><td>&nbsp;</td>

  <% if !defined? @user %>
    <td><%= c.user.pi -%></td><td>&nbsp;</td>
    <td><%= link_to c.user.login, {:action => 'show_user', :params => {:submitter => c.user.login}} -%></td><td>&nbsp;</td>    
  <% end %>
  <td><%= c.updated_at.strftime("%Y-%m-%d %H:%M") -%></td>
  <td>&nbsp;&nbsp;</td>
  <td><%= distance_of_time_in_words_to_now(c.updated_at)+" ago" -%></td>
  </tr>
 <% end %>
 </table>
<% end %>
<br/>
  
<%

