<% if @submissions.blank? %>
  <p>There are no submissions currently.</p>
<% else %>
  <p><%= @title -%></p>

 <table id="submissions" cellpadding=10 cellspacing=10>
 <% @submissions.each do |c| %>
  <tr>
  <td><%= link_to c.name, {:action => 'show', :id => c.id} -%></td>
  <td><%= c.submission_type.short_label -%></td>

  <td> 
  <%= 
  if c.status == "invalid"
    link_to c.status, {:action => 'valid_status', :id => c.id}
  else
    if c.status == "load failed"
      link_to c.status, {:action => 'load_status', :id => c.id}
    else
      if c.status == "upload failed"
       	link_to c.status, {:action => 'upload_status', :id => c.id}
      else
	if c.status.starts_with?("schedule uploading ")
	  "schedule uploading"
	else
	  if c.status.starts_with?("schedule expanding ")
	    "schedule expanding"
          else
    	    c.status 
          end
        end
      end
    end
  end
  -%>
  </td>


  <td><%= c.user.pi -%></td>
  <td><%= c.updated_at.strftime("%Y-%m-%d") -%></td>
  </tr>
 <% end %>
 </table>
<% end %>
<br/>
<p><%= link_to "Add new submission", {:action => 'new' }%></p>
  
<%
=begin %>


  <td><small><%= link_to 'Edit', {:action => 'edit', :id => c.id} -%></small></td>
  <td><small><%= link_to 'Delete', {:action => 'delete', :id => c.id},
    :confirm => "Are you sure you want to delete this item?"%></small></td>

  <td><small>
    <%= link_to 'Upload', {:action => 'upload', :id => c.id} -%>
  </small></td>
 Just keeping this for a while as an example of making a dropdown 
  list from linking to another table.  Change "category" to "user" below.

 <ul id="categories">
 <% Category.find(:all).each do |c| %>
  <li><%= link_to c.name, {:action => 'show_category', :id => c.id} -%></li>
 <% end %>
 </ul>

<%
=end %>

