<p>
<b>Create a new submission for each archive in your provided URL list</b>
</p>
<%= start_form_tag({:action => 'mass_url'}) %>

  <textarea cols="80" id="url_list" name="url_list" rows="20"></textarea></p>

  <table cellpadding=0 cellspacing=0><tr>
  <td><%= submit_tag "Submit" %></td>
  <td><%= submit_tag "Cancel" %></td>
  </tr></table>
<%= end_form_tag -%>
<p>
Use 'Submit' to create one new submission for each of your provided URLs. <br/>
</p>
<p>
The compressed archive file must have one of these extensions: <br/>
.zip, .tar.gz, .tgz, .tar.bz2 <br/>
</p>
