<p>
<b>Create a new submission for each archive in your FTP space</b>
</p>
<%= start_form_tag({:action => 'mass_ftp'}) %>

  <% if @ftpList.length > 0 %>

    <p><label for="project_upload_ftp">
    Archive files from your <%= link_to 'FTP', '/help.html#ftpHelp' -%> space</label>
    <A HREF=<%= @ftpUrl -%>> <%= @ftpUrl -%></A><br/>
    <blockquote>
    <% @ftpList.each do |file| %>
      <%= file %><br />
    <% end %>
    </blockquote>
    <%= @ftpList.length %> archives to submit.<br/>

  <% else %>

    <b>There is nothing currently in your FTP space</b><br />
    <% 
    ftpServer = "#{ActiveRecord::Base.configurations[RAILS_ENV]['ftpServer']}"
    ftpPort = "#{ActiveRecord::Base.configurations[RAILS_ENV]['ftpPort']}"
    ftpText = "ftp #{ftpServer}"
    if ftpPort != "21" 
      ftpText += " #{ftpPort}"
    end
    %>

    <p>
    Upload your archives to your <%= link_to 'FTP', '/help.html#ftpHelp' -%> space</label>
    using your same login and password.<br/>
    &nbsp;&nbsp;&nbsp;<A HREF=<%= @ftpUrl -%>> <%= ftpText -%></A><br/>  
    Then <%= link_to 'refresh', {:action => 'mass_ftp'} -%>.
    </p>

  <% end %>

  <table cellpadding=0 cellspacing=0><tr>
  <td><%= submit_tag "Submit" %></td>
  <td><%= submit_tag "Cancel" %></td>
  </tr></table>
<%= end_form_tag -%>
<p>
Use 'Submit' to create one new submission for each of these archives. <br/>
</p>
<p>
The compressed archive file must have one of these extensions: <br/>
.zip, .tar.gz, .tgz, .tar.bz2 <br/>
</p>
