<h1> Automatically create new submissions en-masse </h1>
<p>
<table style="margin-top:10px;" cellpadding=1 cellspacing=1>
<tr>
      <td><%= ' [ ' -%> 
      <%= link_to 'for each archive in your FTP space', {:action => 'mass_ftp'} -%>
      <%= ' ] ' -%> </td>
</tr>
<tr><td>&nbsp;</td></tr>
<tr>
      <td><%= ' [ ' -%> 
      <%= link_to 'for each url in your provided list', {:action => 'mass_url'} -%>
      <%= ' ] ' -%> </td>
</table>

