<p>
<b>DDF (<%= @ddfName -%>) for project: <%= @project.name -%></b>
</p>
<pre>
<font size=-1>
<%=@ddfText-%>
</font>
</pre>
<%= link_to 'Download DDF', {:action => 'download_ddf', :id => @project.id} -%>
