<h1>Project:</h1>

<p>
<strong>Name: <%= @project.name -%> </strong><br/>
<strong>Type: </strong> <%= @project.project_type.short_label -%><br/>
<strong>Status: </strong> <%= 
  if @project.status.starts_with?("schedule uploading ")
    "schedule uploading"
  else
    if @project.status.starts_with?("schedule expanding ")
      "schedule expanding"
    else
      @project.status
    end
  end
-%><br/>

<strong>Date Posted: </strong> <%= distance_of_time_in_words_to_now(@project.created_at) -%> ago<br/>
<strong>Last Updated: </strong> <%= distance_of_time_in_words(@project.updated_at, Time.now) -%> ago<br/>
</p>
<br>
<table CELLSPACING=10 CELLPADDING=10>
  <td><%= link_to 'Edit', {:action => 'edit', :id => @project.id} -%></td>
  <td><%= link_to 'Delete', {:action => 'delete', :id => @project.id},
    :confirm => "Are you sure you want to delete this project?" -%></td>
  <td><%= link_to 'Upload', {:action => 'upload', :id => @project.id} -%></td>

  <td><%= link_to 'Re-Expand All', {:action => 'reexpand_all', :id => @project.id} -%></td>

  <% if @project.status == "uploaded" -%> 
    <td><%= link_to 'Schedule Validating', {:action => 'begin_validating', :id => @project.id},
      :confirm => "Are you sure your project is ready to schedule for validating?" -%></td>
  <% end %>

  <% if @project.status == "validated" -%> 
    <td><%= link_to 'Schedule Loading', {:action => 'begin_loading', :id => @project.id},
      :confirm => "Are you sure your project is ready to schedule for loading?" -%></td>
  <% end %>

</table>


<h3> Project Archive Files</h3>

<% @project.project_archives.each do |a| %>
  <table CELLSPACING=10 CELLPADDING=10>
  <tr>
  <td><%= a.file_name -%></td>
  <td align=right><%= a.file_size -%></td>
  <td><%= a.file_date -%></td>
  <td><%= link_to 'Delete', {:action => 'delete_archive', :id => a.id},
    :confirm => "Are you sure you want to delete this archive?" -%></td>
  <td><%= a.status -%></td>
  </tr>
  </table>

  <table CELLSPACING=10 CELLPADDING=10>
  <% a.project_files.each do |f| %>
    <tr>
      <td>&nbsp;</td>
      <td><%= f.file_name -%></td>
      <td align=right><%= f.file_size -%></td>
      <td><%= f.file_date -%></td>
    </tr>
  <% end %>
  </table>

<% end %>

<hr />

<% if @errText != "" -%> 
  <h3>validate error:<br>
    <%= @errText -%>
  </h3><br>
<% end %>

<%= link_to 'Back', {:action => 'list'} %>
