<p>
<b>DAF (<%= @dafName -%>) for project: <%= @project.name -%></b>
</p>
<pre>
<font size=-1>
<%=@dafText-%>
</font>
</pre>
<%= link_to 'Download Daf', {:action => 'download_daf', :id => @project.id} -%>
