<h1>Submission:</h1>

<p>
<strong>Name: <%= @submission.name -%> </strong><br/>
<strong>Type: </strong> <%= @submissionTypes[@submission.s_type]["shortLabel"] -%><br/>
<strong>Status: </strong> <%= @submission.status -%><br/>

<strong>Date Posted: </strong> <%= distance_of_time_in_words_to_now(@submission.created_at) -%> ago<br/>
<strong>Last Updated: </strong> <%= distance_of_time_in_words(@submission.updated_at, Time.now) -%> ago<br/>
</p>
<br>
<table>
  <td><%= link_to 'Edit', {:action => 'edit', :id => @submission.id} -%></td>
  <td><%= link_to 'Delete', {:action => 'delete', :id => @submission.id},
    :confirm => "Are you sure you want to delete this item?"%></td>
  <td><%= link_to 'Upload', {:action => 'upload', :id => @submission.id} -%></td>
</table>

<h3> Submission Files</h3>

<table CELLSPACING=10 CELLPADDING=10>
<% @submission.submission_files.each do |c| %>
  <tr>
  <td><%= link_to c.file_name, :action => 'show_file', :id => c.id -%></td>
  <td><%= c.status -%></td>
  <td align=right><%= c.file_size -%></td>
  <td><%= c.file_date -%></td>
  </tr>
<% end %>
</table>

<hr />

<h3> Submission Archive Files</h3>

<table CELLSPACING=10 CELLPADDING=10>
<% @submission.submission_archives.each do |c| %>
  <tr>
  <td><%= c.file_name -%></td>
  <td align=right><%= c.file_size -%></td>
  <td><%= c.file_date -%></td>
  </tr>
<% end %>
</table>

<hr />

<%= link_to 'Back', {:action => 'list'} %>
