<h1><%= @user.name -%></h1>
<ul>
<% @user.submissions.each do |c| %>
  <li><%= link_to c.name, :action => 'show', :id => c.id -%></li>
<% end %>
</ul>

<%
=begin %>

 COMMENT: this is no longer being used, 
 instead the show_user event renders list.rhtml 

<%
=end %>

