<h1> Tools </h1>
<p>
<table style="margin-top:10px;" cellpadding=1 cellspacing=1>
<tr>
      <td><%= ' [ ' -%> 
      <%= link_to 'Automatically create new submissions en-masse', {:action => 'mass_tools'} -%>
      <%= ' ] ' -%> </td>
</tr>
</table>

