<p>
<%
if current_user.login == "admin" or current_user.login == "galtx"
  advancedView = true
else
  advancedView = false
end
if @project.run_stat.nil? 
  busy = false
else
  busy = true
end
if @project.user_id == @current_user.id or current_user.login == "admin"
  authorized = true
else
  authorized = false
end
%>
<% if @project.project_archives.blank? and @project.status=="new" %>
   <b>Submit data for this project:</b>
<% end %>

<table style="margin-top:10px;" cellpadding=1 cellspacing=1>

<tr><td>Submission: </td><td><%= @project.name -%></td><td>&nbsp;&nbsp;&nbsp;</td>
<td>Created: </td><td><%= @project.created_at.strftime("%b %d %H:%M"); -%></td>
</tr>

<tr><td>Status: </td><td><%= @project.status -%></td>
<td>&nbsp;</td>
<td>Updated: </td><td><%= @project.updated_at.strftime("%b %d %H:%M"); -%></td>
<tr><td>&nbsp;</td>
</tr>

<% if advancedView %>
<tr><td>Type: </td><td> <%= @project.project_type.short_label -%></td></tr>
<tr><td>Active: </td><td><%= @project.archives_active -%></td></tr>
<% end %>
</table>

<% if @aheadOfYou -%>
<strong>Number of Waiting Jobs Ahead of Yours: </strong> <%= @aheadOfYou -%> <br/>
<% end %>

<% if @uploadText -%>
<strong>Progress uploading: </strong> <%= @uploadText -%> <br/>
<% end %>

<table style="margin-top:10px;" cellpadding=1 cellspacing=1>

<% if (not busy) and authorized and (@project.status != "loaded" or current_user.login == "admin") %> 

  <% if @project.status == "uploaded" %> 
    <td><%= link_to 'Validate', {:action => 'begin_validating', :id => @project.id} -%>
    <%= ' | ' -%> </td>
  <% end %>

  <% if @project.status == "validated" %> 
    <td><%= link_to 'Load', {:action => 'begin_loading', :id => @project.id} -%>
    <%= ' | ' -%> </td>
  <% end %>

  <% if @project.status == "new" \
     or @project.status == "upload failed" \
     or @project.status == "validate failed" \
     or advancedView %>
    <td><%= link_to 'Submit Data', {:action => 'upload', :id => @project.id} -%>
    <%= ' | ' -%> </td>
  <% end %>

    <td><%= link_to 'Delete Submission', {:action => 'delete', :id => @project.id},
      :confirm => "Are you sure you want to delete this submission?" -%>
    <%= ' | ' -%> </td>

  <% if @project.status == "new" or advancedView %>
    <td><%= link_to 'Rename Submission', {:action => 'edit', :id => @project.id} -%></td>
  <% end %>

  <% if advancedView and @project_status != "new" %>
    <td><%= ' | ' -%>
    <%= link_to 'Expand', {:action => 'reexpand_all', :id => @project.id} -%></td>
  <% end %>

<% end %>

</table>


<% if current_user.login == "galtx" %>
<table style="margin-top:10px;" cellpadding=1 cellspacing=1>
<tr>
    <td><%= link_to 'Validate', {:action => 'validate', :id => @project.id} -%>
    <%= ' | ' -%> </td>
    <td><%= link_to 'Load', {:action => 'load', :id => @project.id} -%>
    <%= ' | ' -%> </td>
    <td><%= link_to 'Submit Data', {:action => 'upload', :id => @project.id} -%>
    <%= ' | ' -%> </td>
    <td><%= link_to 'Delete Submission', {:action => 'delete', :id => @project.id},
      :confirm => "Are you sure you want to delete this project?" -%>
    <%= ' | ' -%> </td>
    <td><%= link_to 'Rename Submission', {:action => 'edit', :id => @project.id} -%>
    <%= ' | ' -%> </td>
    <td><%= link_to 'Expand', {:action => 'reexpand_all', :id => @project.id} -%>
    </td>
</tr>
</table>
<% end %>

<p>
<% if !@project.project_archives.blank? && @project.status != "new"  %>
<table cellspacing=2 cellpadding=2>
<tr><td></td>
<td align="left"><b>File</b></td>
<td align="left"><b>Size</b></td>
<td align="left"><b>Updated</b></td>
<% if advancedView %>
  <td align="left"><b>Status</b></td>
<% end %>
<td></td></tr>
<% @project.project_archives.reverse_each do |a| %>
  <% n = a.archive_no-1 %>
  <% c = @project.archives_active[n..n] %>
  <% if c == "0" && !advancedView %> 
    <% next %>
  <% end %>

  <tr style="margin: 10;">
  <td><b>Archive</b></td><td><%= a.file_name -%></td>
  <td align="right"><%= a.file_size -%></td>
  <td><%= a.file_date.strftime("%b %d %H:%M") -%></td>

  <% if advancedView %>
    <td><%= 
    if a.status == "schedule uploading" then "schedule uploading"
    elsif a.status == "schedule expanding" then "schedule expanding"
    elsif a.status == "see current" then @project.status
    else a.status
    end
    -%></td>
    <td><%= a.archives_active -%></td>
  <% end %>

  <% if (not busy) and authorized and advancedView %>
    <% if c == "1" %>
      <td><%= link_to 'Delete', {:action => 'delete_archive', :id => a.id} -%></td>
    <% else %>
      <td><%= link_to 'Un-Delete', {:action => 'delete_archive', :id => a.id} -%></td>
    <% end %>
  <% end %>
  </tr>

  <% a.project_files.each do |f| %>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.file_name -%></td>
      <td align=right><%= f.file_size -%></td>
      <td><%= f.file_date.strftime("%b %d %H:%M") -%></td>
    </tr>
  <% end %>

<% end %>
</table>
<p>
<% end %>

<% if @errText != "" -%> 
  <hr />
  Error:<br>
<pre>
<%= @errText -%>
</pre>
  <br>
<% end %>
