<h1>Upload Project Archive File</h1>

<%= form_tag ({:action => 'upload'}, :multipart => true) %>

  <h3>for <%= @project.name -%></h3>

  <p><label for="project_upload_url">Submit Using URL</label><br/>
  <%= text_field_tag 'upload_url', "http://", :size => 40 %><br/>

<%
=begin %>

  <p><label for="project_upload_file">Submit Local Archive File</label><br/>
  <%= file_field_tag 'upload_file', :size => 25 %><br/>

<%
=end %>

  <%= submit_tag "Upload" %><br/>
<% end_form_tag %>

The archive file must have one of these extensions: <br/>
.zip<br/> 
.tar.gz<br/>
.tar.bz2 <br/>

<%= link_to 'Back', {:action => 'show', :id => @project} %>


