
.jqac-menu{
  font-family: arial, Geneva, Helvetica, san-serif;
  font-size: 14px;
  color: black;
  background-color: white;
  border: 1px solid #aaa;
}
.jqac-menu ul{
  list-style: none;
  margin: 1px;
  padding: 1px;
  overflow: hidden;
}
.jqac-menu .jqac-link {
  cursor: pointer;
  display: block;
}
.jqac-menu .jqac-highlight {
  background-color: #ddf;
}
.jqac-menu .jqac-warning {
  text-align: center;
  font-style: italic;
}
.jqac-menu .jqac-loading {
  text-align: right;
  font-style: italic;
  text-decoration: blink;
}
.jqac-menu em {
    font-style: normal;
    text-decoration: none;
    color: #888;
}
.jqac-menu .jqac-info {
    text-align: right;
    font-style: italic;
    font-size: .75em;
    color: #666;
}
