/* Style for ENCODE Project
        (Mostly re-using Genome Browser styles)
*/

/* over-riding alignment so we don't have to nest in a table */
.topBlueBar {
    text-align: left;
}

body {
    font-family: arial,Geneva,Helvetica,sans-serif;
}

.encodeHeader {
    color: #004D99;
    font-size: 30px;
    margin-top: 15px;
    height: 70px;
}

.encodeHeader img {
    float: left;
    height: 70px;
    line-height:  70px;
}

/* image shown when ajax is loading data
     normally displayed to right of header */

#spinner {
    position: absolute;
    left: 30%;
    height: 35px;
}

.encodeHeader span {
    vertical-align: middle;
    width: 30%;
}

#assemblyLabel {
    font-size: medium;
    font-style: italic;
    color: grey;
}


a {
    color: #003366;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid black;
}

.panel {
    border: 2px solid #CCC;
}

.wrapper {
	border: 1px solid gray;
	padding:0px;
	margin: 7px 0px 20px 0px;
}

.content {
    margin: 0px;
    padding: 0px 15px;
}

h4.title {
    text-align: left;
    margin: 0px;
    padding: 3px 0px 0px 7px;
}

.bar {
    background-color: #dae5f7;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 27px;
}
    
dt {
    padding-bottom: 12px;
}

dd {
    padding-bottom: 10px;
}


/*General styles*/

.thick {
    font-weight:bold;
}

.under {
    text-decoration:underline
}

.big {
    font-size: 16pt;
}

.gold {
    background-color: #FFDB70;
}

.date {
    font-size: 10pt;
}

.selectable:hover {
    background-color: black;
    color: white;
}

.selected {
    background-color: #FFAB66;
    color: white;
}

.selectable {
    color: #004D99;
}

.floatHeader {
    opacity: 1;
}

