TH {background-color: #9999cc}
BODY {background: http://genome-test.cse.ucsc.edu/images/floret.jpg;  color: black}
A:link {color: #19197; text-decoration: none}
A:active {color #FE0000}
A:visited {color: #551A8A}
