/* Override nice-menu: */
#main-menu-whole {
    background-color: #003a72 !important;
    font-family: Lato,Arial,Helvetica,sans-serif !important;
}

span#home-link {
    background-color: #003a72 !important;
}

ul.nice-menu a {
    /* override lighter */
    font-weight: normal !important;
    font-family: Lato,Arial,Helvetica,sans-serif !important;
}

ul.nice-menu ul li a {
    font-weight: normal !important;
    font-family: Lato,Arial,Helvetica,sans-serif !important;
}
