/* 
   Style Sheet for hgHubConnect
   by Greg Roe                   
   Last update: 2011-7-18 (greg)   
*/

#tabs {
	font-size: 100%;
	margin-top: 5px;
}

.hubList table {
    width: 930px;
    border-collapse: collapse;
}

/* Creating rounded corners at the tops of tables - works with all CSS3 supporting browsers, degrades gracefully */
.hubList table tr:first-child th:first-child {-webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; border-top-left-radius: 5px;}
.hubList table tr:first-child th:last-child {-webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px; border-top-right-radius: 5px;}

/* Styling table cells */
.hubList tbody 	{font-size: 0.9em;}
.hubList table tr td:first-child {text-align: center;}
.hubList table#unlistedHubsTable tr td:last-child {text-align: center;}
.hubList th, .hubList td {padding: 2px 8px; text-align: left;}
.hubList th {background-color: #e5dfb1; height: 1.6em; vertical-align: middle;}

.hubList table tbody tr {background-color: #fffef8;}
.selectedRow {background-color: #99dd9a !important;}
.hoverRow {background-color: #fdffb7 !important;}
.hubList td {border-top: 1px solid #d5cd9e; border-bottom: 1px solid #d5cd9e;}
.centeredCol {text-align: center;}
#addHubBar {background-color: #bfbfb2; line-height: 2.3em;}
#hubURL {line-height: 0.9em; color: #1c1d22;}
.hubList input {margin: 3px; font-size: 0.8em;}
.submitHub {margin: 10px;}

.tabFooter {
    font-size: 100%;
    font-family: Verdana,Arial,sans-serif;
}

.tabFooter input {
    font-size: 0.8em;
    margin: 7px 0 7px 3px;
}
.tabFooter .small {margin: 2px 40px; font-size: 0.8em;}

.hubError {color: #F00000;}

