/* CLASS DECLARATIONS TO MAKE NETSCAPE HAPPY */
.topbar {	font-family: arial, Geneva, Helvetica, san-serif; font-size: 15px; text-decoration: none; font-weight: bold; color: #D9E4F8; }
.leftbar { text-decoration: none; font-family: arial, san-serif; color: #FDFCEA; font-size: 10pt; font-weight: 600; }
.hiddenText {background-color: silver}
.normalText {background-color: white}

/* CLASS DECLARATIONS FOR THE REST OF THE BROWSERS */
A:link.topbar { text-decoration: none; font-family: arial, Geneva, Helvetica, san-serif; color: #E0F0F0; font-size: 15px; }
A:visited.topbar { text-decoration: none; font-family: arial, Geneva, Helvetica, san-serif; color: #E0F0F0; font-size: 15px; }                         
A:active.topbar { text-decoration: none; font-family: arial, Geneva, Helvetica, san-serif; color: #E0F0F0; font-size: 15px; }                         
A:hover.topbar { text-decoration: none; font-family: arial, Geneva, Helvetica, san-serif; color: #EAE360; font-size: 15px; }

A:link.leftbar { text-decoration: none; font-family: arial, san-serif; color: #E0F0F0; font-size: 10pt; font-weight: 600; }
A:visited.leftbar { text-decoration: none; font-family: arial, san-serif; color: #E0F0F0; font-size: 10pt; font-weight: 600; }                         
A:active.leftbar { text-decoration: none; font-family: arial, san-serif; color: #E0F0F0; font-size: 10pt; font-weight: 600; }                         
A:hover.leftbar { text-decoration: none; font-family: arial, san-serif; color: #FFFF99; font-size: 10pt; font-weight: 600; }
/*--  #FFFF00;  --*/

A:link.ug { text-decoration: none; font-family: arial, san-serif; color: #888888; font-size: 11pt; font-weight: 600; }
A:visited.ug { text-decoration: none; font-family: arial, san-serif; color: #888888; font-size: 11pt; font-weight: 600; }                         
A:active.ug { text-decoration: none; font-family: arial, san-serif; color: #888888; font-size: 11pt; font-weight: 600; }                         
A:hover.ug { text-decoration: none; font-family: arial, san-serif; color: #888888; font-size: 11pt; font-weight: 600; }

A:link.bigBlue { text-decoration: none; font-family: arial, san-serif; color: #0000A0; font-size: 16pt; font-weight: 600; }
A:visited.bigBlue { text-decoration: none; font-family: arial, san-serif; color: #A000A0; font-size: 16pt; font-weight: 600; }
A:active.bigBlue { text-decoration: none; font-family: arial, san-serif; color: #A000A0; font-size: 16pt; font-weight: 600; }
A:hover.bigBlue { text-decoration: none; font-family: arial, san-serif; color: #0000A0; font-size: 16pt; font-weight: 600; }
IMG.bigBlue {vertical-align: middle;}

A:link.toc { text-decoration: none; color: #0000CC;  }
A:visited.toc { text-decoration: none; color: #0000CC;  }                         
A:active.toc { text-decoration: none; color: #6666FF;  }                         
A:hover.toc { text-decoration: none; color: #6666FF; }

A:link IMG { border-width: 0px; padding: 0px; margin: 0px;}
A:visited IMG { border-width: 0px; padding: 0px; margin: 0px;}
A:active IMG {  border-width: 0px; padding: 0px; margin: 0px;}


/* OVERALL DEFINITIONS */
P	{	line-height: 1.1;
		text-align: justify;
		color: black;
		margin-left: 0px;
}
P.two	{	line-height: 1.6;
		text-align: justify;
		color: black;
		margin-left: 15px;
}
P.leftjustify{	line-height: 1.1;
		text-align: left;
		color: black;
		margin-left: 0px;

	}
UL	{}

TABLE{	border: 0;	}

LI {		line-height: 1.5;
	}


/* used by CCDS details page in hgc */ 
TABLE.hgcCcds, TABLE.hgcCcds TH, TABLE.hgcCcds TD {
    border: 3px gray ridge;
    border-collapse: collapse;
    text-align: left;
    vertical-align: top;
}
TABLE.hgcCcds THEAD {
    background-color: #2636D1;
    color: #ffffff;
}
TABLE.hgcCcds TBODY {
    background-color: #D0FFD0;
}
TABLE.hgcCcds CAPTION {
    caption-side: top; 
    text-align: left;
    font: medium bold;
}

/* used by transMap details page in hgc */ 
TABLE.transMap, TABLE.transMap TH, TABLE.transMap TD {
    border: 3px gray ridge;
    border-collapse: collapse;
    text-align: right;
    vertical-align: top;
}
TABLE.transMap THEAD {
    background-color: #a8c7ff;
    text-align: center;
}
TABLE.transMap TBODY {
    background-color: #D0FFD0;
}
TABLE.transMap CAPTION {
    caption-side: top; 
    text-align: left;
    font: medium bold;
}
TABLE.transMapLayout TR TD {
    vertical-align: top;
}
TR.transMapLayout {
    vertical-align: top;
}
TR.transMapLeft TD {
    text-align: left;
}
.transMapNoWrap {
    white-space: nowrap;
}
.errorBg {
    background-color: #ff704f;
}
.warnBg {
    background-color: #f8ff30;
}


/* Used by LS-SNP protein structure mappings page in hgc.  Each row has
 * multiple columns that are grouped together with a seperator border */
TABLE.hgcLsSnp {
    border: 2px black solid;
    border-collapse: collapse;
    white-space: nowrap inherit;
}
TABLE.hgcLsSnp TD.hgcLsSnpSep {
    border-right: 2px black solid;
    border-collapse: collapse;
}
TABLE.hgcLsSnp TR, TABLE.hgcLsSnp TD {
    border: 1px gray ridge;
    border-collapse: collapse;
    text-align: left;
    vertical-align: top;
    padding-left: 5px;
    padding-right: 5px;
}
