.topBlueBar {   font-family: arial, Geneva, Helvetica, san-serif; font-size: 15px; text-decoration: none; font-weight: bold;
                color: #D9E4F8; background-color:#2636D1; border: 1px solid black; height:28px; width:100%;
                text-align:center; vertical-align:middle; white-space:nowrap; padding: 0px 10px;}

/* CLASS DECLARATIONS TO MAKE NETSCAPE HAPPY */
.topbar {	font-family: arial, Geneva, Helvetica, san-serif; font-size: 15px; text-decoration: none; font-weight: bold; color: #D9E4F8; }
.leftbar { text-decoration: none; font-family: arial, san-serif; color: #FDFCEA; font-size: 10pt; font-weight: 600; }
.hiddenText {background-color: silver}
.normalText {background-color: white}

/* CLASS DECLARATIONS FOR THE REST OF THE BROWSERS */
.topbar { white-space: nowrap; padding: 0px 10px;}
A:link.topbar { text-decoration: none; font-family: arial, Geneva, Helvetica, san-serif; color: #E0F0F0; font-size: 15px; }
A:visited.topbar { text-decoration: none; font-family: arial, Geneva, Helvetica, san-serif; color: #E0F0F0; font-size: 15px; }
A:active.topbar { text-decoration: none; font-family: arial, Geneva, Helvetica, san-serif; color: #E0F0F0; font-size: 15px; }
A:hover.topbar { text-decoration: none; font-family: arial, Geneva, Helvetica, san-serif; color: #EAE360; font-size: 15px; }

A:link.leftbar { text-decoration: none; font-family: arial, san-serif; color: #E0F0F0; font-size: 10pt; font-weight: 600; }
A:visited.leftbar { text-decoration: none; font-family: arial, san-serif; color: #E0F0F0; font-size: 10pt; font-weight: 600; }
A:active.leftbar { text-decoration: none; font-family: arial, san-serif; color: #E0F0F0; font-size: 10pt; font-weight: 600; }
A:hover.leftbar { text-decoration: none; font-family: arial, san-serif; color: #FFFF99; font-size: 10pt; font-weight: 600; }
/*--  #FFFF00;  --*/

A:link.ug { text-decoration: none; font-family: arial, san-serif; color: #888888; font-size: 11pt; font-weight: 600; }
A:visited.ug { text-decoration: none; font-family: arial, san-serif; color: #888888; font-size: 11pt; font-weight: 600; }
A:active.ug { text-decoration: none; font-family: arial, san-serif; color: #888888; font-size: 11pt; font-weight: 600; }
A:hover.ug { text-decoration: none; font-family: arial, san-serif; color: #888888; font-size: 11pt; font-weight: 600; }

A:link.bigBlue { text-decoration: none; font-family: arial, san-serif; color: #0000A0; font-size: 16pt; font-weight: 600; }
A:visited.bigBlue { text-decoration: none; font-family: arial, san-serif; color: #A000A0; font-size: 16pt; font-weight: 600; }
A:active.bigBlue { text-decoration: none; font-family: arial, san-serif; color: #A000A0; font-size: 16pt; font-weight: 600; }
A:hover.bigBlue { text-decoration: none; font-family: arial, san-serif; color: #0000A0; font-size: 16pt; font-weight: 600; }
IMG.bigBlue {vertical-align: middle;}
TD.bigBlue {vertical-align: middle;}

A:link.toc { text-decoration: none; color: #0000CC;  }
A:visited.toc { text-decoration: none; color: #0000CC;  }
A:active.toc { text-decoration: none; color: #6666FF;  }
A:hover.toc { text-decoration: none; color: #6666FF; }

A:link IMG { border-width: 0px; padding: 0px; margin: 0px;}
A:visited IMG { border-width: 0px; padding: 0px; margin: 0px;}
A:active IMG {  border-width: 0px; padding: 0px; margin: 0px;}

/* A toggle bar can be seen in hgTracks, under the image groups that can be opened and closed. */
.blueToggleBar {font-weight: bold; color:#FFFFFF; background-color:#536ED3; height:28px; width:100%;
                text-align:center; vertical-align:middle; white-space:nowrap;}
.toggleButton  {height: 20px; width: 20px; vertical-align:middle;}

/* A subheading bar is the light blue bar that appears at the top of web.c section boxes */
.subheadingBar {font-weight: bold; font-size:1.1em; color:#000000; background-color:#D9E4F8;
                width:100%; text-align:left; vertical-align:bottom;
                white-space:nowrap; text-indent:10px; padding-top:2px; }

/* OVERALL DEFINITIONS */
P	{	line-height: 1.1;
		text-align: justify;
		color: black;
		margin-left: 0px;
}
P.two	{	line-height: 1.6;
		text-align: justify;
		color: black;
		margin-left: 15px;
}
P.leftjustify{	line-height: 1.1;
		text-align: left;
		color: black;
		margin-left: 0px;

	}
UL	{}

TABLE{	border: 0;	}

LI {		line-height: 1.5;
	}


/*** used by CCDS details page in hgc *** */

/* give the tables some breathing room and a consistent width */
TABLE.hgcCcds {
    margin-bottom: 30px;
    width: 500px;
}

TABLE.hgcCcds, TABLE.hgcCcds TH, TABLE.hgcCcds TD {
    border: 1px gray ridge;
    border-collapse: collapse;
    text-align: left;
    vertical-align: top;
}
TABLE.hgcCcds TH {
    white-space: nowrap;
}
TABLE.hgcCcds TD {
    height: 1em;
}
TABLE.hgcCcds THEAD {
    background-color: #2636D1;
    color: #ffffff;
}
TABLE.hgcCcds TBODY {
    background-color: #D0FFD0;
}
TABLE.hgcCcds CAPTION {
    caption-side: top;
    text-align: left;
    font: medium bold;
}

/* used by transMap details page in hgc */
TABLE.transMap, TABLE.transMap TH, TABLE.transMap TD {
    border: 3px gray ridge;
    border-collapse: collapse;
    text-align: right;
    vertical-align: top;
}
TABLE.transMap THEAD {
    background-color: #a8c7ff;
    text-align: center;
}
TABLE.transMap TBODY {
    background-color: #D0FFD0;
}
TABLE.transMap CAPTION {
    caption-side: top;
    text-align: left;
    font: medium bold;
}
TABLE.transMapLayout TR TD {
    vertical-align: top;
}
TR.transMapLayout {
    vertical-align: top;
}
TR.transMapLeft TD {
    text-align: left;
}
.transMapNoWrap {
    white-space: nowrap;
}
.errorBg {
    background-color: #ff704f;
}
.warnBg {
    background-color: #f8ff30;
}


/* Used by LS-SNP protein structure mappings page in hgc.  Each row has
 * multiple columns that are grouped together with a seperator border */
TABLE.hgcLsSnp {
    border: 2px black solid;
    border-collapse: collapse;
    white-space: nowrap;
}
TABLE.hgcLsSnp TD.hgcLsSnpSep {
    border-right: 2px black solid;
    border-collapse: collapse;
}
TABLE.hgcLsSnp TR, TABLE.hgcLsSnp TD {
    border: 1px gray ridge;
    border-collapse: collapse;
    text-align: left;
    vertical-align: top;
    padding-left: 5px;
    padding-right: 5px;
}

table.chainTbl, .descTbl {border-collapse: collapse;}
table.chainTbl td, .descTbl td {border: 1px solid #666; padding: 5px;}

/* --------------- Newer UI 2.0 styles --------------- */
.ghost { background-color: #EEEEEE; }
.pale  { background-color: #F8F8F8; }
.bgLevel1  { background-color: #FFFEE8; }
.bgLevel2  { background-color: #FFF9D2; }
.bgLevel3  { background-color: #FCECC0; }
.bgLevel4  { background-color: #EED5B7; }

/* Common boxes */
.inputBox  { border: 2px inset #CCCCCC; }
.lineOnTop { border-top: 1px solid #999999; }
.lineOnBottom { border-bottom: 1px solid #999999; }
.blueRoof  { border-top: 2px groove #000088; }
.greenRoof { border-top: 3px groove #008800; }
/*.greenFloor { border-bottom: 3px ridge #008800; }*/
.greenBox  { border: 5px outset #008800; }
.blueBox   { border: 4px inset #000088; } /* cfg box */
.redBox    { border: 3px ridge #AA0000; background-color: #FFF9D2; padding: 10px; margin: 10px; text-align: left; } /* Special alert */

/* Experiments with squeezing giant matrices
.slantUp { -moz-transform: rotate(-75deg); -moz-transform-origin: bottom left;
           -webkit-transform: rotate(-75deg); -webkit-transform-origin: bottom left;
           white-space: nowrap; position: relative; left: 16px;
           filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)
}
.slantDn { -moz-transform: rotate( 75deg); -moz-transform-origin: top left;
           -webkit-transform: rotate( 75deg); -webkit-transform-origin: top left;
           white-space: nowrap; position: relative; left: 16px;
           filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3
}
.rotate90 { -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); }
*/

.hintCol { font-size: 70%; line-height: 80%; border-style: hidden; background-color: #FFF9D2; }
.hintRow { font-size: 70%; line-height: 80%; border-style: hidden; background-color: #FFF9D2; }
/*  not ready for prime time because ff and ie can't agree
.halfVis { opacity: 0.5; filters.alpha.opacity=50; }
*/

/* waitMask allows waiting on long running javascript using utils.js::waitOnFunction */
.waitMask { display: none; cursor: wait; z-index: 9999; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-color: #fff; }
.inOutButton { height: 24px; width: 24px; border-style: outset; } /* A [+][-] button can be toggled by waitOnFunction during long running scripts */

/* imageV2 */
div.dragZoom { cursor: text; }
img.sliceImg { position:relative; border:0; }
div.sliceDiv { overflow:hidden; }

/* These are for imageV2 sideButtons: */
.btn  { border-style: outset; background-color: #CCCCCC; border-color: #CCCCCC; } /* border-color: works for FF but screws up IE */
.btnN { border-width: 1px 1px 1px 1px; margin: 1px 1px 0px 1px; } /* connect none */
.btnU { border-width: 0px 1px 1px 1px; margin: 0px 1px 0px 1px; } /* connect up */
.btnD { border-width: 1px 1px 0px 1px; margin: 1px 1px 0px 1px; } /* connect down */
.btnL { border-width: 0px 1px 0px 1px; margin: 0px 1px 0px 1px; } /* connect linear */
.btnBlue { background-color:#91B3E6; }
.inset { border-style: inset; } /* Flatten button if not configurable */

/* These are for dragReorder: both in imageV2 and in hgTrackUi subtrack list */
.trDrag { background-color: #CCFFCC; }
.dragHandle { cursor: n-resize; }

/* in hgTracks imageV2, left label (and reverse rightLabel) now uses css for red line */
.tdLeft { border-right:1px solid #FFB4B4; }
.tdRight { border-left:1px solid #FFB4B4; }

/* These are duplicates of btnBlue and trDrag but allow useful highlighting to persist after hover */
.blueButtons { background-color:#91B3E6; }
.greenRows { background-color: #CCFFCC; }

/* The are for sortable tables */
table.subtracks { overflow: visible; white-space: nowrap; border: 1px solid #FFFEE8; }
tr.sortable { background-color: #FCECC0; }
th.sortable { color: #0000FF; }
th:hover.sortable { background-color: #CCFFCC; cursor: pointer; }
tbody.sorting { color: #DDDDDD; cursor: wait;  }

/* tr:hover.found { color: #000088; } */

.filterBy { display: none; } /* All filterBy's should be converted to dropdownchecklists by document.ready(). */

.noscript {
        background: none repeat scroll 0 0 #FFFF90;
        border-color: #CFCFCF;
        border-style: solid;
        border-width: 0 0 1px;
        color: #2F2F2F;
        font-size: 12px;
        line-height: 1.25;
        text-align: center;
        margin: 0;
        padding: 0;
}

.noscript .noscript-inner {
        background:url("/images/caution.gif") no-repeat scroll 20px 50% transparent;
        margin:0 auto;
        padding:12px 0;
        width:960px;
        text-align: center;
}

.noscript p {
        margin: 0;
        text-align: center;
}
