/* Override nice-menu: */
#main-menu-whole {
    background-color: #003a72;
    font-family: Lato,Arial,Helvetica,sans-serif;
}

span#home-link {
    background-color: #003a72;
}

ul.nice-menu a {
    font-weight: normal;
    font-family: Lato,Arial,Helvetica,sans-serif;
}

ul.nice-menu ul li a {
    font-weight: normal;
    font-family: Lato,Arial,Helvetica,sans-serif;
}
