.multiCb {
	height: 20px;
	border: 2px ridge gray;
	background: white;
}
.multiCb-hover, .multiCb-active {
	border: 2px inset #000088;
}

.multiCb-text {
	font-size: 14px;
	height: 20px;
	line-height: 20px;
}

.multiCb-label {
	font-size: 14px;
	height: 20px;
	line-height: 20px;
}

.multiCb-dropcontainer {
	background-color: #fff;
	border: 1px solid #000088;
}

.multiCb-item {

}

.multiCb-item-hover {
	background-color: #39f;
}

.multiCb-item-excluded label {
	color: #999999;
}

.multiCb-item-disabled label {
	color: #ccc;
}

.multiCb-item-hover .multiCb-text {
	color: #fff;
}

/*.multiCb-group {
	font-weight: bold;
	font-style: italic;
}

.multiCb-indent {
	padding-left: 20px;
} */
