# Web BLAT Configuration File

# Company is displayed at the title.
company Kent Informatics

# Web page background,  ok to have none
background ../images/floret.jpg

# List of databases and where to find index server and DNA files.
gfServer blat12 17779 /cluster/data/hg19/hg19.2bit Human Genome (build 37)
gfServerTrans blat12 17778 /cluster/data/hg19/hg19.2bit Human Genome (build 37)
gfServer blat10 17779 /cluster/data/mm10/mm10.2bit Mouse Genome (mm10)
gfServerTrans blat10 17778 /cluster/data/mm10/mm10.2bit Mouse Genome (mm10)

# Where to put temporary files relative to CGI
tempDir ../trash
