# Web BLAT Configuration File

# Company is displayed at the title.
company Kent Informatics

# Web page background,  ok to have none
background ../images/floret.jpg

# List of databases and where to find index server and DNA files.
gfServer blat12 17779 /cluster/data/hg17/nib Human Genome (build 35)
gfServerTrans blat12 17778 /cluster/data/hg17/nib Human Genome (build 35)
gfServer blat10 17779 /cluster/data/mm4/nib Mouse Genome (mm4)
gfServerTrans blat10 17778 /cluster/data/mm4/nib Mouse Genome (mm4)

# Where to put temporary files relative to CGI
tempDir ../trash
