Hello <%= @user.name %>, 

Your ENCODE DCC data submission account has been activated.

  Login: <%= @user.login %>

You may now submit data from your project, using the 
data submission formats defined in your data agreement
with the DCC.  If you do not yet have a data agreement, 
contact the DCC.

Follow this URL to log in to your account:

  <%= @url %>
