Hello <%= @user.name %>, 

Your ENCODE DCC data submission account has been activated.

  Login: <%= @user.login %>

You may now submit data from your project.
Follow this URL to log in to your account:

  <%= @url %>
