
Hello, <%= @user.login.capitalize -%>,
Your submission "<%= @project.name -%>" to the ENCODE pipeline produced 
<%= @failure_type -%> error (see below).  

Please contact your data wrangler if you need further details 
or assistance with correcting the problem.

   Thank you,
        The ENCODE DCC Team

------------------

<%= @error_text -%>

