<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>
    <%= ActiveRecord::Base.configurations[RAILS_ENV]['title'] + " " +  ActiveRecord::Base.configurations[RAILS_ENV]['subtitle'] -%>
    </title>
    <%= stylesheet_link_tag "encode" %>
  </head>
  <body>

  <div id="container">
  <img align="left" height=50 width=100  src="/images/encode_logo.png">
    <div id="header">
        <%= ActiveRecord::Base.configurations[RAILS_ENV]['title'] -%>
        <font size=-1 color="gray"> <em>
        <%= ActiveRecord::Base.configurations[RAILS_ENV]['subtitle'] -%>
        </em></font>
    </div>
   </div>
      <div id="welcome">
   Welcome to the data submission site for the ENCODE Consortium.
   This site is managed by the <A TARGET=_BLANK HREF="http://genome.ucsc.edu/ENCODE">ENCODE Data Coordination Center</A> at UC Santa Cruz.
        <ul>
        <li>
          <a href="/account/login"><b>Log In</b></a>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;Existing users should log in</a>.</p>
        </li>
      
        <li>
          <a href="/account/signup"><b>Sign Up</b></a>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;If you do not have an account, sign up</a>.<br>
             &nbsp;&nbsp;&nbsp;&nbsp;Your account will be validated by email.</p>
        </li>
      
        <li>
          <a href="/account/forgot_password"><b>Lost Password</b></a>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;You may change your password,<br>
              &nbsp;&nbsp;&nbsp;&nbsp;if you know the email address used to sign up.<br>
              &nbsp;&nbsp;&nbsp;&nbsp;Your change will be validated by email.</p>
          
        </li>
      
      </ul>
   Before submitting data, the submission format must be defined
   by agreement between the DCC and the provider.  
   Please <%= "<A HREF=mailto:#{ActiveRecord::Base.configurations[RAILS_ENV]['emailDCC']}?subject=Request%20for%20data%20agreement>contact the DCC</A>" -%>
   to initiate a data agreement for your project.
    </div>
  </div>
    </div>
  </body>
</html>
