<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= ActiveRecord::Base.configurations[RAILS_ENV]['title'] -%> Submission Pipeline</title>
    <style type="text/css" media="screen">
      body {
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
        background-color: #f0f0f0;
        font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
        font-size: 13px;
        color: #333;
      }
      
      h1 {
        font-size: 28px;
        color: #000;
      }
      
      a  {color: #03c}
      a:hover {
        background-color: #03c;
        color: white;
        text-decoration: none;
      }
      
      
      #page {
        background-color: #f0f0f0;
        width: 750px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
      }
      
      #content {
        float: left;
        background-color: white;
        border: 3px solid #aaa;
        border-top: none;
        padding: 25px;
        width: 700px;
      }
      
      #footer {
        clear: both;
      }
      

      #header, #about, #getting-started {
        padding-left: 75px;
        padding-right: 30px;
      }


      #header {
        background-repeat: no-repeat;
        background-position: top left;
        height: 32px;
      }
      /* background-image: url("images/rails.png"); */

      #header h1, #header h2 {margin: 0}
      #header h2 {
        color: #888;
        font-weight: normal;
        font-size: 16px;
      }
      
      
      
      #getting-started {
        border-top: 1px solid #ccc;
        margin-top: 25px;
        padding-top: 15px;
      }
      #getting-started h1 {
        margin: 0;
        font-size: 20px;
      }
      #getting-started h2 {
        margin: 0;
        font-size: 14px;
        font-weight: normal;
        color: #333;
        margin-bottom: 25px;
      }
      #getting-started ol {
        margin-left: 0;
        padding-left: 0;
      }
      #getting-started li {
        font-size: 18px;
        color: #888;
        margin-bottom: 25px;
      }
      #getting-started li h2 {
        margin: 0;
        font-weight: normal;
        font-size: 18px;
        color: #333;
      }
      #getting-started li p {
        color: #555;
        font-size: 13px;
      }
      
      
    </style>
    <script type="text/javascript" src="javascripts/prototype.js"></script>
    <script type="text/javascript" src="javascripts/effects.js"></script>
    <script type="text/javascript">
      
    </script>
  </head>
  <body>
    <div id="page">

      <div id="content">
        <div id="header">
          <h1>Welcome to the <%= ActiveRecord::Base.configurations[RAILS_ENV]['title'] -%>  pipeline</h1>
        </div>

        <div id="getting-started">
          <h1>Getting started</h1>
          
          <ul>
            <li>
              <h2>Log-in</tt></h2>
              <p>Existing users should <a href="/account/login">log-in</a>.</p>
            </li>
          
            <li>
              <h2>Sign-up</tt></h2>
              <p>If it is your first time, <a href="/account/signup">sign-up</a>.</p>
              <p>Your account will be validated by email.</p>
            </li>
          
            <li>
              <h2>Lost Password</tt></h2>
              <p>You may <a href="/account/forgot_password">change your password</a>
                 if you know the email address used to sign-up.</p>
              <p>Your change will be validated by email.</p>
              
            </li>
          
          </ul>
        </div>
      </div>
      
      <div id="footer">&nbsp;</div>
    </div>
  </body>
</html>
