<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
  <meta http-equiv="Content-Language" content="en-us" />
  <title><%= ActiveRecord::Base.configurations[RAILS_ENV]['title'] -%> Pipeline</title>
<%= stylesheet_link_tag "encode" %>
</head>
<body id="encode-pipeline">
<div id="container">
  <img align="left" height=50 width=100  src="http://hgwdev.cse.ucsc.edu/images/logos/ENCODE_scaleup_logo.png">
  <!--<img align="left" height=40 width=80  src="http://hgwdev.cse.ucsc.edu/images/logos/ENCODE_scaleup_logo.png">-->
  <div id="header"><%= ActiveRecord::Base.configurations[RAILS_ENV]['title'] -%>
  </div>
  <div id="message">
    <% if flash[:error] %><div id="error"><%= flash[:error] %></div><% end %>  
    <% if flash[:warning] %><div id="warning"><%= flash[:warning] %></div><% end %>  
    <% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>  
  </div>
  <div id="content">
      <%= yield -%>
  </div>
</div>
</body>
</html>
