<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
  <meta http-equiv="Content-Language" content="en-us" />
    <title>
    <%= ActiveRecord::Base.configurations[RAILS_ENV]['title'] + " " +  ActiveRecord::Base.configurations[RAILS_ENV]['subtitle'] -%>
    </title>
<%= stylesheet_link_tag "encode" %>
</head>
<body id="encode-pipeline">
<% if @autoRefresh %>
<script type="text/javascript">
var myTimeout = window.setTimeout("window.location.reload(true)",15000);
function click(e) {
  if (!e) var e = window.event;
  if (e.target) targ = e.target;
  else if (e.srcElement) targ = e.srcElement;
  if (targ.nodeType == 3) // defeat Safari bug
    targ = targ.parentNode;
  if (targ) 
    if (targ.href) {
      var rightclick;
      if (e.which) rightclick = (e.which == 3);
      else if (e.button) rightclick = (e.button == 2);
      if (!rightclick)
        window.clearTimeout(myTimeout);
    }
}
if (navigator.appName=="Netscape") {
    document.addEventListener("click", click, true);
} else {
    document.onclick  = click;
}
</script>
<% end %>
<div id="container">
  <img align="left" height=50 width=100  src="/images/encode_logo.png">
    <div id="header">
        <%= ActiveRecord::Base.configurations[RAILS_ENV]['title'] -%>
        <font size=-1 color="gray"> <em>
        <%= ActiveRecord::Base.configurations[RAILS_ENV]['subtitle'] -%>
        </em></font>
    </div>
  <div id="user"> Logged In: <strong> <%= @current_user.login -%> </strong>
  </div>

  <div id="nav">
    <!-- <table width="100%"><tr>-->
    <table cellpadding=0 cellspacing=0 width="100%"><tr>
    <td align="left">
    <%= link_to_unless_current 'New Submission', 
                :controller => 'pipeline', :action => 'new' %> 
    <%= ' | ' -%>
    <%= 
        if params[:controller] == 'pipeline' && params[:action] == 'list'
	    "All Submissions"
        else 
            link_to 'All Submissions', :controller => 'pipeline', :action => 'list' 
        end
    -%> 

    <%= ' | ' -%>
    <%= 
        if params[:controller] == 'pipeline' && params[:action] == 'show_active' && !params[:submitter]
	    "Active Submissions"
        else 
            link_to 'Active Submissions', :controller => 'pipeline', :action => 'show_active' 
        end
    -%>

    <%= ' | ' -%>
    <%=
        if params[:controller] == 'pipeline' && params[:action] == 'show_user' && !params[:submitter]
            "My Submissions"
        else
            link_to 'My Submissions', :controller => 'pipeline', :action => 'show_user'
        end
    -%>
 
    </td>
    <td align="right">
    <%= link_to ' Log Out', :controller => 'account', :action => 'logout' %> 
    <%= ' | ' -%>
    <%= link_to 'Change Profile', :controller => 'account', :action => 'change_profile' %> 
    <%= ' | ' -%>
    <%= link_to 'Tools', :controller => 'pipeline', :action => 'show_tools' %> 
    </td>
    </tr></table>
  </div>

  <div id="message">
    <% if flash[:error] %><div id="error"><%= flash[:error] %></div><% end %>  
    <% if flash[:warning] %><div id="warning"><%= flash[:warning] %></div><% end %>  
    <% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>  
  </div>
  <div id="content">
      <%= yield -%>
  </div>
  <div id="footer">
    <A HREF="/help.html">Help</A>
    <%= ' | ' -%>
    <A HREF="/contact">Contact Us</A>
  </div>
</div>
</body>
</html>
