<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
  <meta http-equiv="Content-Language" content="en-us" />
  <% if @autoRefresh %><meta http-equiv="refresh" content="15" /><% end %>
    <title>
    <%= ActiveRecord::Base.configurations[RAILS_ENV]['title'] + " " +  ActiveRecord::Base.configurations[RAILS_ENV]['subtitle'] -%>
    </title>
<%= stylesheet_link_tag "encode" %>
</head>
<body id="encode-pipeline">
<div id="container">
  <img align="left" height=50 width=100  src="/images/encode_logo.png">
    <div id="header">
        <%= ActiveRecord::Base.configurations[RAILS_ENV]['title'] -%>
        <font size=-1 color="gray"> <em>
        <%= ActiveRecord::Base.configurations[RAILS_ENV]['subtitle'] -%>
        </em></font>
    </div>
  <div id="user"> Logged In: <strong> <%= @current_user.login -%> </strong>
  </div>

  <div id="nav">
    <!-- <table width="100%"><tr>-->
    <table cellpadding=0 cellspacing=0 width="100%"><tr>
    <td align="left">
    <%= link_to_unless_current 'New Project', 
                :controller => 'pipeline', :action => 'new' %> 
    <%= ' | ' -%>
    <%= link_to_unless_current 'All Projects', 
                :controller => 'pipeline', :action => 'list' %> 
    <%= ' | ' -%>
    <%= link_to_unless_current 'My Projects', 
                :controller => 'pipeline', :action => 'show_user' %> 
    </td>
    <td align="right">
    <%= link_to ' Log Out', :controller => 'account', :action => 'logout' %> 
    <%= ' | ' -%>
    <%= link_to 'Change Profile', :controller => 'account', :action => 'change_profile' %> 
    </td>
    </tr></table>
  </div>

  <div id="message">
    <% if flash[:error] %><div id="error"><%= flash[:error] %></div><% end %>  
    <% if flash[:warning] %><div id="warning"><%= flash[:warning] %></div><% end %>  
    <% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>  
  </div>
  <div id="content">
      <%= yield -%>
  </div>
  <div id="footer">
    <A HREF="/help.html">Help</A>
    <%= ' | ' -%>
    <A HREF="/contact.html">Contact Us</A>
  </div>
</div>
</body>
</html>
