<%= error_messages_for :user %>
<% form_for :user do |f| -%>
<p>
    <label for="password">New Password</label><br />
    <%= f.password_field :password %>
</p>
<p>
    <label for="password_confirmation">Confirm New Password</label><br />
    <%= f.password_field :password_confirmation %>
</p>
<table><tr>
<td><%= submit_tag 'Submit' %></td>
<% end -%>
<td> <%= button_to 'Cancel', {:controller => 'account', :action => 'change_profile', :user => @user } -%></td>
</tr></table>

