<%= error_messages_for :user %>

<% unless @changed  %>

  <% form_for :user do |f| %>
    <p>
      <label for="user_email">Current Email</label> <br/>
      <%= f.text_field :email, {:disabled => true} -%> <br/>
      </p>
      <p>
      <label for="user_email">New Email</label> <br/>
      <%= f.text_field :email, { :value => ""} -%> <br/>
      <p>
      <table><tr>
      <td><%= submit_tag "Update Email" -%> </td>
      <td><%= submit_tag "Cancel" -%> </td>
      </tr></table>
  <% end %>
<% else %>
  <p>  
    An email has been sent to:
    <%= self.current_user.new_email -%>.
  </p>
  <p>
    Please follow the instructions contained in the 
    email to complete this process.
  </p> 
<% end %>
