<%= error_messages_for :user %>
<% form_for :user do |f| -%>
<h1>User profile for '<%= @user.name -%>'</h1>
<p><label for="login">Login</label><br/>
<%= f.text_field :login %></p>

<p><label for="email">Email</label><br/>
<%= @user.email %></p><br/>

<p><label for="name">Name</label><br/>
<%= f.text_field :name %></p>

<p><label for="pi">Primary Investigator</label><br/>
<%= f.text_field :pi %></p>

<p><label for="institution">Institution</label><br/>
<%= f.text_field :institution %></p>

<p><%= submit_tag 'Submit' %></p>
<%= link_to 'Back', {:controller => 'pipeline', :action => 'list'} %>

<% end -%>
