<h1>Forgot Password</h1>

<% form_tag url_for(:action => 'forgot_password') do %>
    What is the email address used to create your account?<br />
    <%= text_field_tag :email, "", :size => 50 %><br />
    <%= submit_tag 'Request Password' %>
<% end %>
