<% form_tag url_for(:action => 'forgot_password') do %>
    What is the email address for your account?<br />
    <%= text_field_tag :email, "", :size => 30 %><br />
    <%= submit_tag 'Request Password' %>
<% end %>
