<%= error_messages_for :user %>
<% form_for :user do |f| -%>
<p><label for="login">Login</label><br/>
<%= f.text_field :login %></p>

<p><label for="email">Email</label><br/>
<%= f.text_field :email %></p>

<p><label for="name">Name</label><br/>
<%= f.text_field :name %></p>

<p><label for="pi">Primary Investigator</label><br/>
<%= f.text_field :pi %></p>

<p><label for="institution">Institution</label><br/>
<%= f.text_field :institution %></p>

<p><label for="password">Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag 'Sign Up' %>
<% end -%>
