/* Style sheet for ENCODE ChIP data matrix (overrides to main matrix CSS) */

#columnHeaders th {
    height: 12em;
}

.verticalText {
    width: 10px;
}

#spinner {
    position: absolute;
    left: 50%;
    height: 35px;
}
