/* Style sheet for ENCODE data matrix */

table { 
    border-width: 0px; 
    border-style: hidden; 
    border-collapse: collapse; 
    font-family: arial, Geneva, Helvetica, sans-serif; 
}

th {
    vertical-align: bottom;
    text-align: left;
    padding: 5px;
}

td {
    border: none;
    padding: 5px 5px 3px 3px;
}

/* vertical column headers (th child of columnHeaders row) */
#columnHeaders th {
    /*height: 150px;    restore when data types labels are cleaned up */
    height: 180px;
}

.verticalText {
    /* text-align: center; */
    /* vertical-align: middle; */
    width: 1em;
    padding-left: 4px;
    padding-right: 4px;
    white-space: nowrap;
    /* for firefox, safari, chrome, etc. */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);                 
    /* for IE */
    /* replaced with writing-mode below */
    /* filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); */
}

/* for IE, referenced by rotateCells jquery */
table div.rotated {
    writing-mode: tb-rl;
    /* filter: flipv fliph;  180% flip, better res? */
}

.groupType {
    color: white;
    background-color: #004D99;
    border: 1px solid grey;
}

.elementType {
    color: black;
    background-color: lightgrey;
    border: 1px solid grey;
}

.axisType {
    vertical-align: bottom;
    font-family: arial, Geneva, Helvetica, sans-serif; 
    font-weight: bold;
    font-size: 120%;
    color: #004D99;
}

.experiment {
    background-color: #00994D;
    text-align: center;
    border: 1px solid darkgray;
}

.todoExperiment {
    border: 1px solid darkgray;
}

.experiment:hover {
background-color: #994D00;
}

.experiment a {
text-decoration: none;
}

.axisType a {
text-decoration: none;
}

.elementType a {
text-decoration: none;
}

#searchTypePanel {
    margin: auto;
    margin-top: 3em;
    padding: 5px;
    background-color: #EEE;
    width: 13em;
}

#cellHeaderLabel {
    margin-top: 2em;
}

/* colored bullets on cell types based on karyotype CV field */

.karyotype {
    font-size: large;
}

.cancer {
    color: brown;
}

.normal {
    color: green;
}

.unknown {
    color: lightgrey;
}

.crossHair {
    background-color: #EDEDED;
}

