/* Style for ENCODE Data Summary page(s) */

/* layout top row with radiobuttons for selecting search type */

#searchTypePanel {
    margin-top: 1em;
    margin-left: 3%;
    padding: 5px;
    padding-left: 12px;
    background-color: #EEE;
    width: 14em;

}

/* layout 3 tables horizaontally across page */ 
.summaryTable {
    float: left;
    width: 30%;
    border-spacing: 5px;
    margin-top: 1em;
    margin-left: 3%;
    border: 1px solid darkgrey;
}

.summaryTable th {
    padding: 3px;
    background-color: #00994D;
    color: white;
    text-align: left;
    padding-left: 2em;
    border: 1px solid darkgrey;
}

.odd {
    background-color: #F4F4F4;
}

.summaryTable td {
    text-align: left;
    padding-left: 1em;
    border: none;
}

.summaryTable td+td {
    text-align: right;
    padding-right: 1em;
}

.summaryTable td.totals {
    background-color: #00994D;
    color: white;
    padding-top: 3px;
    font-weight: bold;
}

.dataItem, .dataLabel {
    cursor: pointer;
}

.matrixButton {
    float: right;
    margin-right: 1em;
}

#searchButtons {
    float: right;
    margin-right: 1em;
}

.rowHighlight {
   background-color: #FFFF80;
}


