#!/bin/tcsh
if ("$USER" != "encodeteam") then
    echo "must be encodeteam"
    exit 1
endif
@ sleepTime = 60
while(1)
    echo "--------------------------" >> log/runner.log
    date >> log/runner.log
    ./pipeline_runner.rb yournamehere >>& log/runner.log
    if ( $status ) then
	echo "pipeline_runner.rb yournamehere terminated, will sleep $sleepTime and then try to restart it." | mail -s 'pipeline_runner.rb terminated' encode
    else
	exit 0
    endif
    sleep $sleepTime
    @ sleepTime = $sleepTime + $sleepTime
end
