* {
  margin: 0;
  padding:0;
}

body {
  font-family: Helvetica, Geneva, Arial, sans-serif;
  font-size: small;
  color: #000;
  background-color: #fff;
}

a:link, a:active, a:visited {
  color: #CD0000;
}

a:hover {
  color: #F70000;
}

input { margin-bottom: 5px; }

div#container {
  width: 760px;
  margin: 0 auto;
}

div#header {
  text-align: center;
}
/* padding-bottom: 15px; */

div#content {
  float: left;
  width: 450px;
  padding :10px;
}

div#content h3 {
  margin-top: 15px;
}

ul#categories {
  width: 700px;
  text-align: center;
  padding: 5px;
  background-color: #ececec;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

ul#categories li {
  display: inline;
  padding-left: 5px;
}


ul#classifieds {
  list-style-type: none;
}

ul#classifieds li {
  line-height: 140%;
}

div#sidebar {
  width: 200px;
  margin-left: 480px;
  margin-top: 60px;
}

#notice  { background:#2e2; color:#222; padding:10px }
#warning { background:#ee0; color:#222; padding:10px }
#error   { background:#e22; color:#fff; padding:10px }
.flash { padding:10px; text-align:center; margin-bottom:20px; }

